#SUBSYSTEM=="graphics" KERNEL=="fb0" GROUP="video" MODE="0660"
#SUBSYSTEM=="tty" KERNEL=="tty" GROUP="tty" MODE="0666"
#SUBSYSTEM=="tty" KERNEL=="tty[1-5]" GROUP="tty" MODE="0600"
SUBSYSTEM=="tty" KERNEL=="tty[1-5]" MODE="0600"
SUBSYSTEM=="tty" KERNEL=="tty[6-9]" MODE="0660"